@media print {
  @page {
    margin: 0;
  }
  .print-page {
    break-before: page;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 10vh;
    margin-bottom: 10vh;
  }
  h1 {
    font-size: xxx-large;
  }
  p {
    text-align: justify;
  }
  .signature {
    display: flex;
    justify-content: flex-end;
  }
  .dotted-line {
    border-bottom: 1pt dotted black;
    margin-left: 1em;
    width: 16em;
  }
  .no-print {
    display: none;
  }
}
@media not print {
  .print-page {
    display:none;
  }
}
