@media print {
  @page {
    margin: 0;
    size: landscape;
  }
  .print-page {
    break-before: page;
    font-size: x-large;
    width: 50vw;
    height: 50vh;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25vh;
    margin-bottom: 25vh;
  }
  h1, h2, h3 {
    text-align: center;
  }
  p {
    text-align: justify;
  }
  .no-print {
    display: none;
  }
}
@media not print {
  .print-page {
    display:none;
  }
}